@use "../mixins/responsive.scss" as *;
@use "../mixins/pseudo.scss" as *;

.main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-top: 4rem;
  background-color: #f8f8fe;

  @include responsive(laptop) {
    flex-direction: row-reverse;

    gap: 5rem;
    padding: 5rem;
  }

  &__image {
    margin-top: 5rem;
    @include responsive(laptop) {
    }
  }

  &__content {
  }

  &__principal {
    display: flex;
    flex-direction: column;
    text-align: center;
    @include responsive(laptop) {
      text-align: left;
      margin-top: 5rem;
    }
  }
  &__title {
    font-size: 1.3rem;
    color: #07043b;
    @include responsive(laptop) {
      font-size: 2rem;
    }
  }

  &__text {
    font-size: 1.05rem;
    color: #615f7e;
    @include responsive(laptop) {
      margin-top: 0.5rem;
    }
  }

  &__link {
    color: #3da08f;
    text-decoration: underline;
    @include responsive(laptop) {
      margin-top: 0.5rem;
    }
  }
  &__link:hover {
    color: #6ad7c5;
  }

  &__card {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #6ad7c5;
    @include responsive(laptop) {
      width: 310px;
    }
  }

  &__quote {
    max-width: 15px;
    margin-bottom: -0.7rem;
  }

  &__person {
  }

  &__photo {
    height: 2.7rem;
    border-radius: 10rem;
  }

  &__name {
    position: relative;
    font-weight: bolder;
    margin-top: -2.5rem;
    margin-left: 3.5rem;
    font-size: 0.9rem;
  }

  &__charge {
    margin-left: 3.5rem;
    margin-top: -0.7rem;
    font-size: 0.9rem;
  }
}
